@page "/Toolbox/Text/{UriParam}"

@inherits TextCalculatorBase
@inject CalculatorCollectionService CollectionService

<SimpleCalculatorContainer 
    MetaPageTitle="@Calc.GetMetaPageTitle()"
    MetaDescription="@Calc.GetMetaDescription()"
    Collection="@CollectionService.GetCollectionOfType(CalculatorAreaTypes.Text)">
    <Header>
        <ToolboxHeader Title="@Calc.GetCalculatorHeaderTitle()">
            <Description>
                <p>To use this converter, simply insert some text into the field and we'll convert it to @Calc.Name</p>
            </Description>
        </ToolboxHeader>
    </Header>

    <Calculator>
        <SimpleCalculator Inputs="Inputs" ResultsTemplate="ResultsTemplate" OnChangeEvent="@OnChange"></SimpleCalculator>
    </Calculator>
</SimpleCalculatorContainer>