
@inherits CalculatorCollectionDisplayBase

<PageTitle>@Collection.DisplayName Calculators @Constants.TITLE_POSTFIX</PageTitle>

<HeadContent>
    <meta name="description" content="Check out some of our @Collection.DisplayName calculators! We have over 500 calculators for you to use for free in the cloud!">
</HeadContent>

<div class="d-block" style="min-height: 100vh">
    <div class="header text-white text-center p-3 position-sticky" style="z-index: 0; top: 0;">
        <h1 class="mt-5"><i class="@Collection.CssIcon"></i> @Collection.DisplayName Calculators</h1>

        <p class="mt-3 pb-5 mb-5 mx-auto w-75 text-break">
            @Description
        </p>
    </div>

    <div class="bg-light position-relative" style="z-index: 1; box-shadow: 9px -15px 25px -14px rgba(0, 0, 0, 0.28);">
        <div class="col-12 py-5 mb-3 px-5">
            <input class="form-control rounded-1 mx-auto" style="max-width: 500px" placeholder="Search @Collection.DisplayName Calculators..." type="text"
                   @bind-value="FilterText" @bind-value:event="oninput" @onkeyup="FilterCalculators" />
        </div>

        <div class="row px-4">
            @foreach (DisplayCalculator calc in FilteredCalculators)
            {
                <AreaButton DisplayName="@calc.DisplayName" Link="@calc.Uri"></AreaButton>
            }
        </div>
    </div>
</div>

<style>
    .header {
        background: @Collection.CssAccentColour;
        background: @Collection.CssHeaderBackgroundColour;
    }

    .area-btn {
        min-height: 70px;
    }

    .area-btn a {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: white;
        transition: 0.2s all ease-in-out;
    }

    .area-btn a:hover {
        background-color: @Collection.CssAccentColour;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }
</style>