@namespace CloudToolbox.Components.Toolbox.Shared
@inherits SimpleCalculatorBase

<div>
    @* INPUTS *@
    <div class="form-flush">
        @foreach (CalculatorInput input in Inputs)
        {
            if (input.Type == typeof(DateTime))
            {
                <div class="input-group">
                    @if (!string.IsNullOrWhiteSpace(input.StartInputGroupText))
                    {
                        <span class="input-group-text" style="width: 80px">@input.StartInputGroupText</span>
                    }

                    <input name="@input.Id" class="form-control @(input.IsValid ? input.InvalidCssClass : "")" type="date" @bind-value="input.InputDateTime" @onchange="OnChange" @bind-value:event="oninput" />

                    @if (!string.IsNullOrWhiteSpace(input.EndInputGroupText))
                    {
                        <span class="input-group-text" style="width: 80px">@input.EndInputGroupText</span>
                    }
                </div>
            }

            if (input.Type == typeof(Checkbox))
            {
                <div class="form-check mt-2">
                    <input name="@input.Id" class="form-check-input @(input.IsValid ? input.InvalidCssClass : "")" type="checkbox" @bind-value="input.InputBool" @onchange="OnChange" @bind-value:event="oninput" />

                    <label class="form-check-label">@input.EndInputGroupText</label>
                </div>
            }
        }
    </div>

    <hr />

    @* RESULTS *@
    <div class="form-flush">
        @foreach (CalculatorResult res in Results)
        {
            <div class="input-group">
                @if (!string.IsNullOrWhiteSpace(res.StartInputGroupText))
                {
                    <span class="input-group-text" style="width: 80px">@res.StartInputGroupText</span>
                }

                <input id="upToSize" class="form-control" type="text" @bind="res.Value" />

                @if (!string.IsNullOrWhiteSpace(res.EndInputGroupText))
                {
                    <span class="input-group-text" style="width: 80px">@res.EndInputGroupText</span>
                }
            </div>
        }
    </div>
</div>