@inherits SimpleCalculatorContainerBase
<HeadContent>
    <meta name="description" content="@MetaDescription">
</HeadContent>

<PageTitle>@MetaPageTitle @Constants.TITLE_POSTFIX</PageTitle>

<Breadcrumb Links="@BreadcrumbLinks" />

<div style="min-height: 90vh;">
    <div class="d-flex flex-column flex-lg-row px-4 pt-3 calc-container">
        <div class="mb-3 mb-lg-0 w-100" style="max-width: 400px">
            @Header
        </div>

        <div class="shadow-sm p-2 mb-5 ms-0 ms-lg-3 calc-panel w-100" style="max-width: 400px">
            @Calculator
        </div>
    </div>
</div>

<style>

    .calc-panel {
        background: @Collection.CssCalulatorPanelColour;
    }

    h1, h2 {
        background: @Collection.CssCalulatorHeaderBackgroundColour;
    }

    .btn-collection {
        background: @Collection.CssAccentColour;
    }
</style>
