@inject CalculatorCollectionService CollectionService

<button>
    <i class="bi bi-list"></i>
</button>
<div class="sidebar-container d-print-none @NavMenuCssClass">
    <div class="sidebar">
        <div class="navbar navbar-light top-row ps-3">
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="">Cloud Toolbox</a>
        </div>

        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3 mb-3">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

                <div class="nav-item px-3 mb-3">
                    <input class="form-control rounded-1" placeholder="Search..." type="text" @bind-value="FilterText" @bind-value:event="oninput" @onkeyup="FilterMenuItems" />
                </div>

                @foreach (DisplayCalculator calc in FilteredCalculators)
                {
                    <div class="nav-item px-3 @(calc.Collection.Name)">
                        <NavLink class="nav-link" href="@calc.Uri">
                            @calc.DisplayName
                        </NavLink>
                    </div>

                    @* if (item.Type == MenuItemType.Link)
                {
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Href" style="border-left: 2px solid @item.area;">
                @item.Name
                </NavLink>
                </div>
                } else
                {
                <div class="nav-item px-3 mt-3">
                <span class="oi @item.HeaderIcon" aria-hidden="true"></span> <span class="h6">@item.Name</span>
                </div>
                }*@
                }
            </nav>

        </div>

    </div>
</div>

<style>
    @foreach (var collection in CollectionService.GetCollections())
    {
        var cssHover = $".nav-item.{collection.Name} .nav-link {{ border-left: 2px solid {collection.CssAccentColour}; }} .nav-item.{collection.Name}:hover .nav-link {{ background:{collection.CssAccentColour}; }}";

        <text>
            @(cssHover)
        </text>
    }
</style>
@code {

    public List<DisplayCalculator> Calculators { get; set; }
    public List<DisplayCalculator> FilteredCalculators { get; set; }
    public string FilterText { get; set; }
    private bool collapseNavMenu = true;
    private bool hasSearched = false;
    private string? NavMenuCssClass => collapseNavMenu ? "collapsed" : null;

    protected override void OnInitialized()
    {
        Calculators = CollectionService.GetCollections().SelectMany(x => x.Calculators).ToList();
        FilteredCalculators = Calculators;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void FilterMenuItems()
    {
        if (FilterText != null && FilterText.Length > 0)
        {
            hasSearched = true;
            FilteredCalculators = Calculators.Where(x => x.DisplayName.ToLower().Contains(FilterText.ToLower())).ToList();
        }
        else
        {
            if (hasSearched)
            {
                FilteredCalculators = Calculators;
                InvokeAsync(StateHasChanged);
            }
        }
    }
}
