@page "/"

@inject CalculatorCollectionService CollectionService

<PageTitle>@Constants.APP_NAME</PageTitle>

<div class="mx-auto text-center text-white bg-primary p-5" style="background-color:#d0c1ed">
    <h1>Cloud Toolbox</h1>
    <p>We have exactly @CollectionService.GetCollections().Sum(x => x.Calculators.Count) calculators and converters for you to use for free!</p>
</div>

<div class="d-block w-100" style="height: 10px; background-color: #1f79fd"></div>
<div class="d-block w-100" style="height: 10px; background-color: #4180ff"></div>
<div class="d-block w-100" style="height: 10px; background-color: #5e94ff"></div>
<div class="d-block w-100" style="height: 10px; background-color: #85aeff"></div>

<div class="px-4 pt-5">

    <div class="row">
        <div class="col-12">
            <div class="row mt-4">
                @foreach (var collection in CollectionService.GetCollections())
                {
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <div class="card shadow-sm homepage @(collection.Name)">
                            <div class="d-block p-4 text-center">
                                <i class="@collection.CssIcon fs-1"></i>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">@collection.DisplayName</h5>

                                <a href="@collection.Uri" class="btn btn-link stretched-link text-decoration-none">@collection.Calculators.Count Calculators</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-12 mt-5">
            <h3>Our most popular calculators</h3>
            <div class="row">
                @foreach (var calc in PopularCalcs)
                {
                    <div class="col-12 col-lg-3 mb-3">
                        <div class="card shadow-sm">
                            <h5 class="card-header">@calc.Header</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    @calc.Description
                                </p>

                                @if(!string.IsNullOrEmpty(calc.Link))
                                {
                                    <NavLink href="@calc.Link" class="btn btn-link stretched-link">Go to Calculator</NavLink>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-12 mt-5">
            <h3>About</h3>
            <p>
                Cloud Toolbox is dedicated to providing free tools in the cloud, such as calculators and converters for everyone to use.
                We are continually updating and developing the site with new useful calculators and tools.
            </p>

            <i>Cloud Toolbox, more than just calculators.</i>

            <p>
                <a href="@Constants.TWITTER_URL"><i class="bi bi-twitter fs-3"></i></a>
            </p>
        </div>
    </div>
</div>

@code{
    public List<(string Header, string Description, string? Link)> PopularCalcs;

    public Index()
    {
       PopularCalcs = new List<(string Header, string Description, string Link)>(){
            ("Mykonos?", "Work out how long you have left until you jet away", "/Toolbox/DateAndTime/Between-Dates"),
            ("2 + 2 = 4", "But what's 2 x 2? We have a times table page to tell you", "/Toolbox/Maths/Times-Table"),
            ("MPG", "Calculate how much real life MPG you're getting out of your journeys", "/Toolbox/Travel/Mpg-Calculator"),
            ("Journey Cost", "How much is your daily commute really costing you?", "/Toolbox/Travel/Journey-Cost"),
        };


    }
}